body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenido {
    text-align: center;
    padding: 20px;
}

.menu {
    background-color: #333;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #ccc;
}

.carrito-container,
.productos-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.carrito-container h2,
.productos-container h2 {
    text-align: center;
}

.carrito-footer {
    margin-top: 20px;
    text-align: right;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#searchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
}

.agregar-carrito-container button {
    margin-left: 5px;
}
